#banner{
  text-align: center;
  background-size: cover;
  background-position: center;
  padding: 100px 150px 50px 100px;
  color: white;
  text-shadow: 1px 1px 5px black;
}

#banner p {
  color: white;
  opacity: 0.8;
  font-size: 25px;
  font-weight: lighter;
  margin-bottom: 90px;
}
